<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <title></title>
    <link rel="shortcut icon" th:href="@{/h5ai/public/images/favicon/favicon-16-32.ico}">
    <link rel="apple-touch-icon-precomposed" type="image/png" th:href="@{/h5ai/public/images/favicon/favicon-152.png}">
    <link rel="stylesheet" th:href="@{/h5ai/public/css/styles.css}">
    <link rel="stylesheet" th:href="@{/DPlayer/DPlayer.min.css}">
    <link rel="stylesheet" th:href="@{/shikwasa/shikwasa.min.css}">
    <link rel="stylesheet" th:href="@{/highlight/github.min.css}">
    <link rel="stylesheet" th:href="@{/contextMenu/jquery.contextMenu.css}"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1344832_6wa9n9olj42.css">
    <script th:src="@{/script/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/script/jquery.cookie.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>
    <script th:src="@{/script/main.js}"></script>
    <script th:src="@{/script/index.js}"></script>
    <script th:src="@{/flv/flv.js}"></script>
    <script th:src="@{/DPlayer/DPlayer.min.js}"></script>
    <script th:src="@{/mustache/mustache.min.js}"></script>
    <script th:src="@{/qrcode/qrcode.js}"></script>
    <script th:src="@{/shikwasa/shikwasa.min.js}"></script>
    <script th:src="@{/highlight/highlight.min.js}"></script>
    <script th:src="@{/contextMenu/jquery.ui.position.js}"></script>
    <script th:src="@{/contextMenu/jquery.contextMenu.js}"></script>
    <script th:src="@{/marked/marked.min.js}"></script>
</head>

<body class="index" id="root">

    <div id="topbar">

        <div id="toolbar">
            <div id="sidebar-toggle" class="tool hidden">
                <img alt="sidebar" th:src="@{/h5ai/public/images/ui/sidebar.svg}">
            </div>
            <div id="search" class="tool hidden">
                <img alt="search" th:src="@{/h5ai/public/images/ui/search.svg}">
                <input class="l10n_ph-search" type="text" value="" placeholder="搜索">
            </div>
        </div>

        <div id="flowbar">
            <div id="crumbbar" style="display: inline">
                <a class="crumb" href="#">
                    <img class="sep" th:src="@{/h5ai/public/images/themes/default/folder-page.svg}" alt=">">
                    <span class="name">Loading...</span>
                </a>
            </div>
        </div>

        <a id="backlink" href="https://larsjung.de/h5ai/" target="_blank"
           title="Themed by h5ai - https://larsjung.de/h5ai/">
            <div>Themed</div>
            <div>by h5ai</div>
        </a>
    </div>

    <div id="mainrow">
        <div id="content">
            <div id="view" class="view-size-20" th:classappend="${'view-' + #strings.toLowerCase(systemConfig.mode)}">

                <div style="margin-top:25px;">
                    <span id="header"></span>
                </div>

                <ul id="items" class="clearfix">
                    <li class="header">
                        <a class="name ascending">
                            <span>文件名</span>
                            <img th:src="@{/h5ai/public/images/ui/sort.svg}" class="sort" alt="sort order">
                        </a>
                        <a class="time">
                            <span>修改时间</span>
                            <img th:src="@{/h5ai/public/images/ui/sort.svg}" class="sort" alt="sort order">
                        </a>
                        <a class="size">
                            <span>大小</span>
                            <img th:src="@{/h5ai/public/images/ui/sort.svg}" class="sort" alt="sort order">
                        </a>
                    </li>
                    <div id="back"></div>
                    <div id="list"></div>
                </ul>
                <div style="margin-top:25px;">
                    <span id="footer"></span>
                </div>
            </div>
        </div>

        <div id="sidebar" th:classappend="${systemConfig.sidebarEnable ? 'hidden' : ''}">
            <div id="viewmode-settings" class="block">
                <h1 class="l10n-view">视图</h1>
                <div id="viewmode-details" data-class="details" class="button mode">
                    <img th:src="@{/h5ai/public/images/ui/view-details.svg}" alt="viewmode-details"></div>
                <div id="viewmode-grid" data-class="grid" class="button mode active">
                    <img th:src="@{/h5ai/public/images/ui/view-grid.svg}" alt="viewmode-grid"></div>
                <div id="viewmode-icons" data-class="icons" class="button mode">
                    <img th:src="@{/h5ai/public/images/ui/view-icons.svg}" alt="viewmode-icons"></div>
                <input id="viewmode-size" type="range" min="1" max="10" value="1"></div>
            <div class="block">
                <h1 class="l10n-info">信息</h1>
                <div id="view-info" class="button view">
                    <img th:src="@{/h5ai/public/images/ui/info-toggle.svg}" alt="view-info"></div>
            </div>
        </div>

        <div id="info" th:classappend="${systemConfig.infoEnable ? 'hidden' : ''}">
            <div class="icon">
                <img id="info-icon" th:src="@{/h5ai/public/images/themes/default/folder.svg}">
            </div>
            <div class="block">
                <div class="name"></div>
                <div class="time"></div>
                <div class="size"></div>
                <div class="content hidden">
                    <span class="folders"></span> <span class="l10n-folders">文件夹</span>,
                    <span class="files"></span> <span class="l10n-files">文件</span>
                </div>
            </div>
            <div id="qrcode" class="qrcode">
            </div>
        </div>
    </div>

    <script type="text/html" id="crumbTemplate">
        <a href="#" class="crumb" data="">
            <span class="name">H5AI</span>
            <img class="hint" th:src="@{/h5ai/public/images/themes/default/folder-page.svg}" alt=">">
        </a>
        {{#data}}
            <a href="#{{{path}}}" class="crumb" data="{{{path}}}">
                <img class="sep" th:src="@{/h5ai/public/images/ui/crumb.svg}" alt="/">
                <span class="name">{{text}}</span>
            </a>
        {{/data}}
    </script>

    <script type="text/html" id="backTemplate">
        <li class="item folder folder-parent" data="{{{path}}}">
            <a href="{{{url}}}">
                <span class="icon square">
                    <img th:src="@{/h5ai/public/images/themes/default/folder-parent.svg}" alt="folder">
                </span>
                <span class="icon landscape">
                    <img th:src="@{/h5ai/public/images/themes/default/folder-parent.svg}" alt="folder"></span>
                <span class="name">
                    <b>{{{text}}}</b>
                </span>
                <span class="size" data-bytes="null"></span>
            </a>
        </li>
    </script>


    <script type="text/html" id="listTemplate">
        {{#data}}
        <li class="item {{class}}" data-type="{{type}}" data="{{{path}}}">
            <a href="{{{url}}}">
                <span class="icon square">
                    <img src="{{{icon}}}"/>
                </span>
                <span class="icon landscape">
                    <img src="{{{icon}}}">
                </span>
                <span class="name">{{name}}</span>
                <span class="time">{{time}}</span>
                <span class="size">{{size}}</span>
            </a>
        </li>
        {{/data}}
    </script>

</body>

</html>