<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="im.zhaojun.zfile.module.log.mapper.DownloadLogMapper">
  <resultMap id="BaseResultMap" type="im.zhaojun.zfile.module.log.model.entity.DownloadLog">
    <!--@mbg.generated-->
    <!--@Table `download_log`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="path" jdbcType="LONGVARCHAR" property="path" />
    <result column="short_key" jdbcType="VARCHAR" property="shortKey"/>
    <result column="storage_key" jdbcType="VARCHAR" property="storageKey" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="user_agent" jdbcType="VARCHAR" property="userAgent" />
    <result column="referer" jdbcType="VARCHAR" property="referer" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `id`, `path`, `storage_key`, `create_time`, `ip`, `user_agent`, `referer`, `short_key`
  </sql>

  <select id="getDownloadTopFile" resultType="im.zhaojun.zfile.module.log.model.dto.DownloadTopFileDTO">
      select short_key, storage_key, path, count(1) count from download_log
      <where>
          <if test="startTime != null and startTime != ''">
              and create_time &gt;= #{startTime}
          </if>
          <if test="endTime != null and endTime != ''">
              and create_time &lt;= #{endTime}
          </if>
      </where>
      group by short_key, storage_key, path
      order by count desc limit #{top}
  </select>


    <select id="getDownloadIpFile" resultType="im.zhaojun.zfile.module.log.model.dto.DownloadTopIpDTO">
        select ip, count(1) count from download_log
        <where>
            <if test="startTime != null and startTime != ''">
                and create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and create_time &lt;= #{endTime}
            </if>
        </where>
        group by ip
        order by count desc limit #{top}
    </select>


    <select id="getDownloadRefererFile" resultType="im.zhaojun.zfile.module.log.model.dto.DownloadTopRefererDTO">
        select referer, count(1) count from download_log
        <where>
            <if test="startTime != null and startTime != ''">
                and create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and create_time &lt;= #{endTime}
            </if>
        </where>
        group by referer
        order by count desc limit #{top}
    </select>

  <delete id="deleteByStorageKey">
      delete from download_log where storage_key = #{storageKey}
    </delete>
</mapper>