<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="im.zhaojun.common.mapper.StorageConfigMapper">

    <resultMap id="BaseResultMap" type="im.zhaojun.common.model.StorageConfig">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="LONGVARCHAR" property="type" javaType="im.zhaojun.common.enums.StorageTypeEnum"
                typeHandler="im.zhaojun.common.enums.StorageTypeEnumTypeHandler"/>
        <result column="key" jdbcType="LONGVARCHAR" property="key"/>
        <result column="title" jdbcType="LONGVARCHAR" property="title"/>
        <result column="value" jdbcType="LONGVARCHAR" property="value"/>
    </resultMap>


    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, "type", "key", title, "value"
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from storage_config
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from storage_config
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="im.zhaojun.common.model.StorageConfig"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into storage_config ("key", "type", title,
        "value")
        values (#{key,jdbcType=LONGVARCHAR}, #{type,jdbcType=LONGVARCHAR}, #{title,jdbcType=LONGVARCHAR},
        #{value,jdbcType=LONGVARCHAR})
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="im.zhaojun.common.model.StorageConfig"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into storage_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="key != null">
                "key",
            </if>
            <if test="type != null">
                "type",
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="value != null">
                "value",
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="key != null">
                #{key,jdbcType=LONGVARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=LONGVARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=LONGVARCHAR},
            </if>
            <if test="value != null">
                #{value,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="im.zhaojun.common.model.StorageConfig">
        <!--@mbg.generated-->
        update storage_config
        <set>
            <if test="key != null">
                "key" = #{key,jdbcType=LONGVARCHAR},
            </if>
            <if test="type != null">
                "type" = #{type,jdbcType=LONGVARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=LONGVARCHAR},
            </if>
            <if test="value != null">
                "value" = #{value,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="im.zhaojun.common.model.StorageConfig">
        <!--@mbg.generated-->
        update storage_config
        set "key" = #{key,jdbcType=LONGVARCHAR},
        "type" = #{type,jdbcType=LONGVARCHAR},
        title = #{title,jdbcType=LONGVARCHAR},
        "value" = #{value,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="selectStorageConfigByType" parameterType="im.zhaojun.common.enums.StorageTypeEnum" resultMap="BaseResultMap">
        select * from storage_config where `type` = #{type, typeHandler=im.zhaojun.common.enums.StorageTypeEnumTypeHandler}
    </select>
</mapper>